@model IEnumerable<BlogPost2.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach(var item in Model)
{
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Text</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <br />
}